.container
  %h2.page_title All Boards

  - @boards.each do |board|
    .card
      .card_detail
        .card_title
          = board.title
        .card_content
          = board.content
        .card_user
          = image_tag board.user.avatar_image

  = link_to 'ログアウト', destroy_user_session_path, data: { method: 'delete' }
