.index_title {
  margin-bottom: 35px;
}

.card {
  background: #F4F4F4;
  border-radius: 10px;
  margin-top: 25px;
}

.card_detail {
  padding: 20px 15px;
}

.card_title {
  font-size: 18px;
}

.card_content {
  margin-top: 6px;
  opacity: 0.4;
}