.page {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &_right {

    img {
      width: 24px;
      height: 6px;
    }
  }
}

.card_eyecatch {
  
  img {
    height: 100%;
    width: 100%;
    border-radius: 8px;
    margin-bottom: 27px;
  }
}

.card {
  background: #F4F4F4;
  border-radius: 10px;
  margin-top: 25px;

  &_detail {
    padding: 20px 15px;
  }

  &_top {
    display: flex;
    justify-content: space-between;
  }

  &_title {
    font-size: 18px;
  }

  &_right {

    img {
      width: 24px;
      height: 6px;
    }
  }

  &_content {
    margin-top: 6px;
    opacity: 0.4;
  }

  &_deadline {
    margin-top: 6px;
    opacity: 0.4;
  }

  &_user {
    display: flex;
    margin-top: 20px;
    position: relative;
  }

  &_user_image {
    width: 30px;
    height: 30px;

    img {
      position: absolute;
      top: 25%;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      object-fit: cover;
    }
  }
  
  &_user_information {
      margin-left: 10px;
  }
}

.show_eyecatch {
  img {
    margin-top: 25px;
    margin-bottom: 0;
  }
}

.page_new {
  display: block;
  text-align: center;
  border: 1px dashed rgba(0, 0, 0, 0.2);
  padding: 50px;
  margin-top: 25px;
}