.profilePage_user_image {
  margin-top: 33px;

  p {
    margin-bottom: 15px;
  }

  img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
  }
}

.profilePage_user_basicInfo {
  margin-top: 23px;

  p {
    margin-bottom: 8px;
  }

  .profilePage_user_introduction p {
    margin-top: 13px;
  }
}